<h1>Karate Kalendar</h1>

<div>
  <div class="dropdown" id='month-selector'>
    <button type="button" class="btn btn-primary dropdown-toggle bggrey" data-toggle="dropdown">
      Select Month <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><%= link_to "October", :controller => "calendar", :start_date => "October" %></li>
      <li><%= link_to "November", :controller => "calendar", :start_date => "November" %></li>
      <li><%= link_to "December", :controller => "calendar", :start_date => "December" %></li>
    </ul>
  </div>
  <div id ='match-calendar'>
    <table class="table table-hover"
      <div id="calendar-header">
        <tr>
          <th class="calendar-date">Date</th>
          <th class="calendar-competitor1-name">Competitor 1 Name</th>
          <th class="calendar-competitor2-name">Competitor 2 Name</th>
          <th class="calendar-location">Location</th>
          <th class="calendar-weather">Chance of Rain</th>
        </tr>
      </div>
      <div id="calendar-data">
        <% @matches.each do |match| %>
          <% if match.start_time > Date.today%>
            <tr id="match_<%=match.id%>">
              <td class="calendar-date"><%= time_tag(match.start_time) %></td>
              <td class="calendar-competitor1-name"><%= Competitor.find(match.competitor1_id).name %></td>
              <td class="calendar-competitor2-name"><%= Competitor.find(match.competitor2_id).name %></td>
              <td class="calendar-location"><%= match.location %></td>
<!--               <td class="calendar-weather"><%#= convert_to_timestamp(match.start_time) %></td> -->
            </tr>
          <% end %>
        <% end %>
      </div>
    </table>
  </div>
</div>
