<div id='title-container'>
  <h1>Standings</h1>
</div>
Sort by:
<a href="/standings?time=season">Season</a>
<a href="/standings?time=week">Week</a>
<a href="/standings?time=month">Month</a>
<a href="/standings?time=all">All</a>
<div id='standings-container'>
  <table class="standings table table-hover">
    <thead>
      <tr>
        <th>Rank#</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Win/Loss</th>
      </tr>
    </thead>
    <tbody>
        <% if @standings.length > 0 %>
        <% @standings.each do |competitor| %>
          <tr scope="row">
            <% competitor.time_frame = @time %>
            <td><%= competitor.rank %></td>
            <td><%= competitor.name %></td>
            <td><%= competitor.wincount %></td>
            <td><%= competitor.losscount %></td>
            <td><%= competitor.winpercent %></td>
            <td><%= competitor.winloss %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
